.grid {
    height: 300px;
    width: 300px;
    background-color: rgb(48, 48, 48);

    display: grid;

    gap: 1px;
}

.grid-item {
    height: 1fr;
    width: 1fr;
    background-color: black;
    border: none;
}

.grid-item.active {
    background-color: green;
}